<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= chapterName %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

</head>

<body class="bg-blue-100">
    <div class="flex">
        <div> <a href="/course/<%=courseId %>">
                <div class="flex items-center justify-right">
                    <img src="https://cdn-icons-png.flaticon.com/512/7518/7518214.png"
                        class=" w-35 h-12 ml-6 my-3 flex items-center justify-middle" alt="view course">

                    <div
                        class="block bg-blue-500 text-white rounded-md  w-35 h-12  px-4 hover:bg-blue-600 transition duration-300">
                        Go to Course Index
                    </div>

                </div>
            </a></div>

        <div class="container mx-auto p-8 flex">
            <!-- Left Side: Course Details -->

            <div class="w-1/2 pr-8">
                <h2 class="text-5xl px-10 font-semibold mb-4">
                    <%= chapterName %>
                </h2>
                <h3 class="text-2xl mt-2">List of pages..!</h3>
                <p class="m-2 px-4 text-sm">Recently updated pages will be displayed at bottom of list</p>
                <div class="mt-1 px-3 py-4  ">

                    <% for( var i=0; i < pages.length; i++) { %>
                        <div class="border-b border-gray-600 p-4">
                            <div class="flex items-center justify-between ">
                                <span class="text-lg ">Page : <%= pages[i].name %> </span>
                                <a href="/editPage/<%= pages[i].id %>"><button
                                        class="border bg-green-400  text-white border-gray-400 px-4 py-2 rounded  hover:bg-green-600 transition duration-300">
                                        +
                                        Edit page</button></a>
                            </div>
                            <p class="text-sm mt-2 text-gray-500">
                                <%= pages[i].content %>
                            </p>
                        </div>


                        <% } %>

                </div>
            </div>



            <!-- Right Side: Add New Chapter and Add New Page -->
            <div class="w-1/2 pl-8">
                <div>
                    <h3 class="text-xl font-semibold mb-2">Add New Page</h3>
                    <form action="/page" method="post">
                        <input type="hidden" name="chapterId" value=<%=chapterId %> >
                        <div class="flex items-center ">
                            <input type="text" placeholder="Page Name" name="pageName"
                                class="flex-grow border-gray-300 rounded-l-md px-3 py-2 focus:outline-none focus:border-blue-500"
                                required>
                        </div>
                        <div class="flex items-center mt-4">
                            <textarea type="text" placeholder="Page Content" name="pageContent"
                                class="flex-grow border-gray-300 rounded-l-md px-3 py-2 focus:outline-none focus:border-blue-500"
                                rows="13" cols="10"></textarea>
                        </div>
                        <div class="flex items-center ">
                            <input type="submit"
                                class="bg-blue-500 text-white rounded-r-md px-4 mt-4 py-2 w-fit hover:bg-blue-600 transition duration-300"
                                value="+Add page">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>




</body>

</html>