<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educator Homepage</title>
    <!-- Include Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-blue-100">
    <%- include('header.ejs') %>
        <a href="/signout"
            class="inline-block px-4 py-2 mt-4 bg-blue-500 text-white rounded transition duration-300 hover:bg-blue-600">
            Sign Out
        </a>
        <a href="/password"
            class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600 transition duration-300">
            Change Password
        </a>

        <!-- Educator  Homepage Container -->
        <div class="container mx-auto p-8">

            <!-- Student Icon and Details -->
            <div class="flex justify-end items-center mb-4">
                <img src="https://th.bing.com/th/id/R.7a2ea004dd85a4c84e7b74e89dab66a5?rik=lNGK6jH%2fWn3pcA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_460528.png&ehk=UGxHDuUeTES8Q4t4udZwaIg037OqUyNcYaAizrI%2bKnM%3d&risl=&pid=ImgRaw&r=0"
                    alt="Student Icon" class="w-8 h-8 mr-2">
                <div>
                    <p class="font-semibold text-gray-800">
                        <%=name %>
                    </p>
                    <p class="text-gray-600">Educator ID:EDU<%= id %>
                    </p>
                </div>
            </div>

            <!-- Welcome Message -->
            <h1 class="text-3xl font-semibold mb-6">Welcome, <%= name %>!</h1>

            <div class="container mx-auto p-8">
                <h2 class="text-2xl font-semibold mb-8">Create New Course</h2>
                <div class="bg-white p-4 m-8 rounded-md w-1/2">

                    <!-- Course Creation Form -->
                    <form action="/course" method="post">
                        <!-- Course Name -->
                        <div class="mb-4">
                            <label for="courseName" class="block text-gray-600 text-sm font-medium mb-2">Course
                                Name</label>
                            <input type="text" id="courseName" name="courseName"
                                class="w-full border-gray-300  border-4 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
                                required>
                        </div>

                        <!-- Course Description -->
                        <div class="mb-4">
                            <label for="courseDescription" class="block text-gray-600 text-sm font-medium mb-2">Course
                                Description</label>
                            <textarea id="courseDescription" name="courseDescription" rows="3"
                                class="w-full border-gray-300 border-4 rounded-md px-3 py-2 resize-none focus:outline-none focus:border-blue-500"
                                required></textarea>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit"
                            class="w-full bg-blue-500 text-white rounded-md py-2 hover:bg-blue-600 transition duration-300">Create
                            Course</button>
                    </form>
                </div>
            </div>
            <div class="container mx-auto p-8">
                <h2 class="text-2xl font-semibold mb-8">Created Courses</h2>
                <div class="grid grid-cols-1 gap-4"> <!-- Use grid for vertical alignment with a gap of 4 units -->
                    <% for( var i=0; i < createdCourses.length; i++) { %>
                        <div class="bg-white p-4 rounded-md">
                            <h3 class="text-lg font-semibold mb-2">
                                <%= i+1 %> : <%= createdCourses[i].name %>
                            </h3>
                            <p>
                                <%= createdCourses[i].description %>
                            </p>
                            <div class="justify-between mt-4"> <!-- Add margin-top for spacing -->
                                <!-- Enroll Box -->
                                <div
                                    class="w-40 h-15 bg-blue-500 text-white rounded-md px-2 py-3 cursor-pointer hover:bg-blue-600 transition duration-300">
                                    <h3 class="text-sm font-semibold mb-2">
                                        <a href="/course/<%= createdCourses[i].id %>">Edit Course</a>
                                    </h3>
                                </div>
                                <div
                                    class="w-40 h-15 bg-blue-500 text-white rounded-md px-2 py-3 mt-3 cursor-pointer hover:bg-blue-600 transition duration-300">
                                    <h3 class="text-sm font-semibold mb-2">
                                        <a href="/courseEnrollments/<%= createdCourses[i].id %>"> View Enrollments</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
        <%- include('footer.ejs') %>
</body>

</html>