<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=course.name %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-blue-100">
    <a href="/student"
        class="block bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600 transition duration-300">
        Go to Dashboard
    </a>


    <div class="container mx-auto p-8 flex items-center ">
        <!-- Left Side: Course Details -->
        <div class=" pr-8">
            <h2 class="text-5xl text-blue-600 font-semibold mb-4 ">
                Course :<%= course.name %>
            </h2>
            <p class="text-xl ">
                <%= course.description %>
            </p>
            <div class="mt-5 p-10   ">
                <ul>
                    <% for( var i=0; i < chapters.length; i++) { %>
                        <a href="/schapter/<%= chapters[i].id %>">
                            <li class="mb-2 text-2xl font-sans">Chapter <%= i+1 %> : <%= chapters[i].name %>
                            </li>
                        </a>
                        <% } %>
                </ul>
            </div>

        </div>
        <div class="bg-blue-200 ml-10 p-8 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Completion Status</h2>
            <!-- Circle Container -->
            <div class="relative inline-block w-20 h-20">
                <div class="w-23 h-23 absolute inset-0 rounded-full bg-green-100 border-4 border-green-500">
                    <div class="flex items-center justify-center h-full ">
                        <span class="text-gary-400 font-bold text-xl">
                            <%=percentage %>%
                        </span>
                    </div>
                </div>
            </div>
        </div>



    </div>

</body>

</html>