<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= course.name %> - View Course
    </title>
    <!-- Include Tailwind CSS styles -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-blue-100 ">
    <div class="container items-center justify-content h-3/4 mx-auto p-8 flex">
        <!-- Left Side: Course Details -->
        <div class="w-1/2 pr-8">
            <h2 class="text-5xl text-blue-600 font-semibold mb-4 ">
                Course:<%= course.name %>
            </h2>
            <p class="text-2xl">
                <%= course.description %>
            </p>
            <div class="mt-5 p-10   ">
                <h2 class="text-4xl font-bold mb-2">List of Chapters:</h2>
                <ul>
                    <% for( var i=0; i < chapters.length; i++) { %>
                        <a href="/chapter/<%= chapters[i].id %>">
                            <li class="mb-2 text-2xl">Chapter <%= i+1 %> : <%= chapters[i].name %>
                            </li>
                        </a>
                        <% } %>
                </ul>
            </div>

        </div>

    </div>
    <div
        class="w-50 h-12 bg-blue-400 text-white rounded-md px-2 py-3 mx-20 cursor-pointer hover:bg-blue-600 transition duration-300">
        <a href="/enrollCourse/<%=course.id %>" class="block text-center">
            <h3 class="text-xl font-semibold mb-2">Enroll Course</h3>
        </a>
    </div>

</body>

</html>